HackUCIProject/HackUCIProject.suo
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/HackUCIProject.exe
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/HackUCIProject.pdb
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.csprojResolveAssemblyReference.cache
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.exe
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.pdb
