HackUCIProject/HackUCIProject.suo
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/HackUCIProject.exe
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/HackUCIProject.pdb
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.csprojResolveAssemblyReference.cache
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.exe
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.pdb
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/ContentPipeline-{3A432631-E947-4E6A-A7FF-3C89812BFADB}.xml
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/HackUCIProject.csproj.FileListAbsolute.txt
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
HackUCIProject/HackUCIProject/HackUCIProjectContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HackUCIProject/HackUCIProject/HackUCIProjectContent/obj/x86/Debug/HackUCIProjectContent.contentprojResolveAssemblyReference.cache
HackUCIProject/HackUCIProject/HackUCIProjectContent/obj/x86/Debug/HackUCIProjectContent.contentproj.FileListAbsolute.txt
HackUCIProject/HackUCIProject/HackUCIProject/HackUCIProject.csproj
HackUCIProject/HackUCIProject/HackUCIProject/HackUCIProject.csproj.Debug.cachefile
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/LevelMap/SacredDonutLevel.xnb
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/StartScreenSpriteFont.xnb
HackUCIProject/HackUCIProject/HackUCIProject/obj/x86/Debug/cachefile-{3A432631-E947-4E6A-A7FF-3C89812BFADB}-targetpath.txt
HackUCIProject/HackUCIProject/HackUCIProjectContent/HackUCIProjectContent.contentproj
HackUCIProject/HackUCIProject/HackUCIProjectContent/obj/x86/Debug/ContentPipeline.xml

HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/LevelMap/BackButton.xnb
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/LevelMap/HighLight.xnb
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/LevelMap/PlayButton.xnb
HackUCIProject/HackUCIProject/HackUCIProjectContent/LevelMap/Thumbs.db

HackUCIProject/HackUCIProject/HackUCIProject/HackUCIProject.csproj.user
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/LevelMap/BackButton.xnb
HackUCIProject/HackUCIProject/HackUCIProject/bin/x86/Debug/Content/LevelMap/PlayButton.xnb

